
.input1{
  background-color:#e6e6e6;
  border: none;
  border-radius: 10px;
  padding-top: 10px;
  width: 100%;
  padding-bottom: 10px;
  outline: none;
}

.inputContainer{
  background-color:#e6e6e6;
  border: none;
  border-radius: 10px;
  outline: none;
}

.input{
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  border:none;
  border-radius:10px ;
  padding-top: 1px ;
  padding-bottom: 1px;
  margin-top: 10px;
  background-color: #e6e6e6;

}
